.u-section-1 .u-sheet-1 {
  min-height: 551px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 449px;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 952px;
  margin: 46px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 370px;
  }

  .u-section-1 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 283px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 212px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 133px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}